 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The sports field is where I began tackling challenges - and loved it. I participated in plenty of sports growing up: soccer, lacrosse, basketball, swimming, tennis, gymnastics, ultimate frisbee, cross country and track. Celebrating triumphs and learning from defeats helped me develop my strong work ethic. 
</p>
                </div>
                <div class="col-lg-4">
                    <p>In school, I gravitated to math because it was logical. I was drawn to mechanical engineering because of its tangibility, while being analytical in nature. I want to build solutions. I am especially interested in robotics, medical devices, and sustainable energies. </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>