 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I received my undergraduate degree in mechanical engineering from the University of Nevada, Reno in May 2016.                                                                                            In my free time, I enjoy watching football, snowboarding or going for a run.</p>
                </div>
                <div class="col-lg-4">
                    <p>I was drawn to mechanical engineering because I want to be part of solutions that result in the betterment of society. I enjoy problem solving and bouncing around ideas with other driven individuals. I am especially interested in robotics, medical devices, and alternative energy.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>