 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"/>
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="{{ post.link }}">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="{{ post.link }}">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="{{ post.link }}">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            {% for image_item in post.image_items %}
                                {% if image_item.video != NULL %}
                                    <div align="center" class="embed-responsive embed-responsive-16by9">
                                        <video class="embed-responsive-item" controls loop autoplay>
                                            <source src="video/portfolio/{{ post.name }}/{{ image_item.video }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                {% endif %}
                                {% if image_item.youtube_video != NULL %}
                                <div align"center" class="embed-responsive embed-responsive-16by9">
                                {{ image_item.youtube_video }}
                                </div> 
                                {% endif %}
                                {% if image_item.img != NULL %}
                                <img src="img/portfolio/{{ post.name }}/{{ image_item.img }}" class="img-responsive img-centered" alt="{{ post.alt}}"/>
                                {% endif %}
                                <p>{{ image_item.description }}</p>
                            {% endfor %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}